.dosen{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-right: none !important;
}

.table > tbody .foto{
    border-right: none !important;
}
.table > tbody > tr > * {
    vertical-align: middle;
}

/* DASHBOARD */
/* .hero-home{
    background-image: url(/img/dashboard/hero2.jfif);
    background-repeat: no-repeat;
    background-size: contain;
} */